In [34]:
import sqlite3

In [35]:
# define connection 
connection = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [36]:
#create cursor object
cursor = connection.cursor()

In [37]:
#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!
command1 = """SELECT f.name, SUM(CASE WHEN m.memid = 0 THEN (f.guestcost*b.slots)
                ELSE f.membercost*b.slots END) AS total_revenue
            FROM Members AS m
            INNER JOIN Bookings AS b ON m.memid = b.memid
            INNER JOIN Facilities AS f ON b.facid = f.facid
            GROUP BY f.name
            HAVING total_revenue < 1000
            ORDER BY total_revenue;"""

In [38]:
cursor.execute(command1)
results1 = cursor.fetchall()
print(results1)

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [39]:
#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
command2 = """SELECT mem.surname || ', ' || mem.firstname AS name, rec.surname ||', '|| rec.firstname AS recommended_by
FROM Members AS mem
INNER JOIN Members AS rec 
ON mem.memid = rec.recommendedby
WHERE mem.surname NOT IN ('Guest')
GROUP BY name
ORDER BY mem.surname;"""

In [40]:
cursor.execute(command2)
results2 = cursor.fetchall()
print(results2)

[('Bader, Florence', 'Sarwin, Ramnaresh'), ('Baker, Timothy', 'Coplin, Joan'), ('Butters, Gerald', 'Genting, Matthew'), ('Farrell, Jemima', 'Baker, Timothy'), ('Genting, Matthew', 'Rumney, Henrietta'), ('Jones, David', 'Jones, Douglas'), ('Joplette, Janice', 'Dare, Nancy'), ('Purview, Millicent', 'Hunt, John'), ('Rownam, Tim', 'Boothe, Tim'), ('Smith, Darren', 'Joplette, Janice'), ('Smith, Tracy', 'Worthington-Smyth, Henry'), ('Stibbons, Ponder', 'Baker, Anne'), ('Tracy, Burton', 'Stibbons, Ponder')]

In [41]:
#Q12: Find the facilities with their usage by member, but not guests
command3 = """SELECT f.name, COUNT(b.bookid) AS total_bookings
FROM Bookings AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
WHERE memid <> 0
GROUP BY f.name;"""

In [42]:
cursor.execute(command3)
results3 = cursor.fetchall()
print(results3)

[('Badminton Court', 344), ('Massage Room 1', 421), ('Massage Room 2', 27), ('Pool Table', 783), ('Snooker Table', 421), ('Squash Court', 195), ('Table Tennis', 385), ('Tennis Court 1', 308), ('Tennis Court 2', 276)]

In [43]:
#Q13: Find the facilities usage by month, but not guests
command4 = """SELECT f.name || ', ' || strftime('%m',starttime), COUNT(b.bookid) AS total_bookings_per_month
FROM Bookings AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
WHERE memid <> 0
GROUP BY f.name, strftime('%m',starttime);"""

In [44]:
cursor.execute(command4)
results4 = cursor.fetchall()
print(results4)

[('Badminton Court, 07', 51), ('Badminton Court, 08', 132), ('Badminton Court, 09', 161), ('Massage Room 1, 07', 77), ('Massage Room 1, 08', 153), ('Massage Room 1, 09', 191), ('Massage Room 2, 07', 4), ('Massage Room 2, 08', 9), ('Massage Room 2, 09', 14), ('Pool Table, 07', 103), ('Pool Table, 08', 272), ('Pool Table, 09', 408), ('Snooker Table, 07', 68), ('Snooker Table, 08', 154), ('Snooker Table, 09', 199), ('Squash Court, 07', 23), ('Squash Court, 08', 85), ('Squash Court, 09', 87), ('Table Tennis, 07', 48), ('Table Tennis, 08', 143), ('Table Tennis, 09', 194), ('Tennis Court 1, 07', 65), ('Tennis Court 1, 08', 111), ('Tennis Court 1, 09', 132), ('Tennis Court 2, 07', 41), ('Tennis Court 2, 08', 109), ('Tennis Court 2, 09', 126)]

In [45]:
#close cursor and connection to db when finished
cursor.close()
connection.close()